In [17]:
10*10

100

In [28]:
10+10

20

In [29]:
print('hello world')

hello world

In [30]:
a=1

In [31]:
print(type(a))

<class 'int'>

In [32]:
a='1'

In [33]:
print(type(a))

<class 'str'>

In [34]:
a=[1,2,3,4,5,6]

In [35]:
print(type(a))

<class 'list'>

In [36]:
a={'1':1,'2':2,'3':3,'4':4,'5':5,'6':6}

In [37]:
print(type(a))

<class 'dict'>

In [38]:
1+2+3

6

In [45]:
#integer
a=1+2+3+4+5
print('a='+ str(a))
a=-10+10+(-30-40)
print(a)
print(type(a))

a=15
-70
<class 'int'>

In [44]:
#float
a=458.14 + 48 - 234.2342
print('a='+ str(a))
a= 2/3
print(a)
print(type(a))

a=271.9058
0.6666666666666666
<class 'float'>

In [49]:
#//소수점 절삭 연산자
a = 10/3
print(a)
a = 10//3
print(a)

3.3333333333333335
3

In [51]:
#**제곱연산자
a = 2**3
print('a='+ str(a))
a = 3**4
print('a='+ str(a))

a=8
a=81

## 문자열(string)

In [68]:
a = 'hello world'
print('a = ' + a)
a = 'hello world'
print('a = ' + a)
a = 'hello world' *3
print('a = ' + a)

a = 'hello world'
print('a[0] = ' + a[0])
print('a[0] = ' + a[1])
print('a[0] = ' + a[2])
print('a[0] = ' + a[3])
print('a[0] = ' + a[4])
print('a[0] = ' + a[5])
print('a[0:5] = ' + a[0:5])

a = hello world
a = hello world
a = hello worldhello worldhello world
a[0] = h
a[0] = e
a[0] = l
a[0] = l
a[0] = o
a[0] =
a[0:5] = hello

In [70]:
date = '20230315'
year = date[0:4]
month = date[4:6]
day = date[6:]
date2 = year + '-' + month + '-' + day
print('Today - ' + date2)
print('string length - Today is ' + str(len(date2)))

Today - 2023-03-15
string length - Today is 10

In [82]:
color = '빨강'
fmt = '나는 %s 을 좋아합니다.' % color
print(fmt)
color = '초록'
fmt = '나는 %s%s%s을 좋아합니다.' % (color,color,color)
print(fmt)

나는 빨강 을 좋아합니다.
나는 초록초록초록을 좋아합니다.

In [85]:
kor = 88
eng = 95
math = 97
sum = kor+eng+math
avg = sum/3

fmt = 'sum : %d, avg : %f' % (sum, avg)
result = (sum, avg)

fmt = 'sum : %d, avg : %f' % result
print(fmt)

print(' result type - ' + str(type(result)))

sum : 280, avg : 93.333333
sum : 280, avg : 93.333333
 result type - <class 'tuple'>

# Tuple-(a,b), List -[1,2], Dict - {'a':1}

In [86]:
name = input("input your name : ")
print("name is " + name)

input your name : hong kil dong
name is hong kil dong

In [97]:
a = input('input integer value : ')
print('value is ' + a)
b = input('input integer value : ')
print('value is ' + b)
a = int(a)
b = int(b)
sum = a + b
avg = sum / 2
div = a/b
sub = a-b
mul = a*b

print('sum = ' + str(sum))
print('sub = ' + str(sub))
print('div = ' + str(div))
print('mul = ' + str(mul))

input integer value : 100
value is 100
input integer value : 20
value is 20
sum = 120
sub = 80
div = 5.0
mul = 2000

In [100]:
price = int(input('물건 가격: '))
num = int(input('구매 개수 : '))
pay = int(input('지불 금액 : '))
change = pay - price * num
print('물건 가격 : %d, 구매 개수 : %d, 지불금액 : %d => 거스름 돈 : %d' %(price,num,pay,change))

물건 가격: 155
구매 개수 : 5
지불 금액 : 8000
물건 가격 : 155, 구매 개수 : 5, 지불금액 : 8000 => 거스름 돈 : 7225

# Python Logic - if and for

In [108]:
x = int(input('input x value : '))

if x>100:
    print('positive')
elif x > 10:
    print('x > 10')
else:
    print('negative')

input x value : 101
positive

In [110]:
a = 5
b = 2

print("{a}>{b} : ".format(a = a, b = b) + str(a>b))
print("{a}<{b} : ".format(a = a, b = b) + str(a<b))
print("{a}=={b} : ".format(a = a, b = b) + str(a==b))
print("{a}!={b} : ".format(a = a, b = b) + str(a!=b))
print("{a}<={b} : ".format(a = a, b = b) + str(a<=b))
print("{a}>={b} : ".format(a = a, b = b) + str(a>=b))

5>2 : True
5<2 : False
5==2 : False
5!=2 : True
5<=2 : False
5>=2 : True

In [119]:
# 논리 연산자 & || ! => and or not
kor = 60
eng = 90
comp = kor >= 70 and eng >= 90
print('and type : '+ str(type(comp)) + ' value : ' + str(comp))
comp = kor >= 70 or eng >= 90
print('or type : '+ str(type(comp)) + ' value : ' + str(comp))

comp = kor == 70
print('== type : '+ str(type(comp)) + ' value : ' + str(comp))
comp = not kor == 70
print('not type : '+ str(type(comp)) + ' value : ' + str(comp))

x= 5
comp = x%2 == 0
print('not x%2 type : '+ str(type(comp)) + ' value : ' + str(comp))
comp = not x%2 == 0
print('not x%2 type : '+ str(type(comp)) + ' value : ' + str(comp))

and type : <class 'bool'> value : False
or type : <class 'bool'> value : True
== type : <class 'bool'> value : False
not type : <class 'bool'> value : True
not x%2 type : <class 'bool'> value : False
not x%2 type : <class 'bool'> value : True

In [135]:
#Quiz 100~1000의 정수 판별

num = int(input('정수를 입력하세요 : '))

result = '입력된 정수는 100 ~ 1000 사이에 있지 않습니다 !'
if num >= 100 and num <= 1000:
    result = '입력된 정수는 100~ 1000 사이에 있습니다 !'

print('이력된 정수 : {} '.format(num) + '입니다.')
print('{0}'.format(result))

정수를 입력하세요 : 50
이력된 정수 : 50 입니다
입력된 정수는 100 ~ 1000 사이에 있지 않습니다 !

In [154]:
char = input('영어 소문자 하나를 입력하세요 : ')

if(char == 'a' or char == 'e' or char =='i' or char == 'o' or char == 'u'):
    print('%s -> {}'.format('모음'))
else:
    print('%s -> {}'.format('자음'))

영어 소문자 하나를 입력하세요 :
%s -> 자음

In [169]:
month = int(input('월을 입력해주세요 : '))

if month >= 3 and month <=5 :
    season = '봄'
    print(month, '월은', season, ' 입니다', sep ='')
elif month >=6 and month <= 8:
    season = '여름'
    print(month, '월은', season, ' 입니다', sep ='')
elif month >=9 and month <= 11:
    season = '가을'
    print(month, '월은', season, ' 입니다', sep ='')
elif month ==12 or month <= 2:
    season = '겨울'
    print(month, '월은', season, ' 입니다', sep ='')
else:
    print('월이 잘못 입력되었습니다.')

월을 입력해주세요 : 9
9월은가을 입니다

# 반복문 ... for, while

In [189]:
cnt = 5

for i in range(cnt): #<=== for i = 0; i<cnt(5); i++
    print('[{}] hello world'.format(i))
print('==='*10)
for x in range(2,6):
    print(x)
print('==='*10)
for x in range(2,30,2):
    print(x)
print('==='*10)
    
fruits = ['apple', 'banana', 'cherry']
for a in fruits:
    if a == 'banana':
        continue
    print(a)
print('==='*10)
        
for x in fruits:
    for y in fruits:
        print(x,y);
                
print('==='*10)
for i in [0,1,2,3,4,5,6]:
    print(i)

[0] hello world
[1] hello world
[2] hello world
[3] hello world
[4] hello world
==============================
2
3
4
5
==============================
2
4
6
8
10
12
14
16
18
20
22
24
26
28
==============================
apple
cherry
==============================
apple apple
apple banana
apple cherry
banana apple
banana banana
banana cherry
cherry apple
cherry banana
cherry cherry
==============================
0
1
2
3
4
5
6

# for --> 구구단
2x1 = 2 3x1=3 ... 9x1=9
2x2 = 4 3x2=6 ... 9x2=18
...
                  9x9=81

In [216]:
for x in range(1,10):
    for y in range(2,10):
        print('{1}*{0}='.format(x, y) + str(x*y), end = '\t')
    print('')

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [214]:
for row in range(1,10,1):
    line = ''
    for col in range(2,10,1):
        line += '{}x{}={}\t'.format(col, row, col*row)
    print(line)

2x1=2	3x1=3	4x1=4	5x1=5	6x1=6	7x1=7	8x1=8	9x1=9
2x2=4	3x2=6	4x2=8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18
2x3=6	3x3=9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27
2x4=8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36
2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45
2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54
2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63
2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72
2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81

## List

In [232]:
color = ['red', 'green', 'blue', 'black', 'white']
print(color)
print(type(color))
print(color[0])
print(color[1])
print(color[1:4])
print(type(color[1:4]))
print('=' * 50)

nums = list(range(1,20,2))
print(nums)
print(nums[3:7])
for x in nums:
    print(x)
    
animals = ['사자','호랑이','원숭이','곰','사슴']
i = 0
while i<len(animals):
    print(animals[i])
    i = i+1
print('=' * 50)



flower = ['무궁화', '장미', '개나리']
print(flower)
flower.append('벗꽃')
print(flower)
flower.remove('장미')
print(flower)

['red', 'green', 'blue', 'black', 'white']
<class 'list'>
red
green
['green', 'blue', 'black']
<class 'list'>
==================================================
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[7, 9, 11, 13]
1
3
5
7
9
11
13
15
17
19
사자
호랑이
원숭이
곰
사슴
==================================================
['무궁화', '장미', '개나리']
['무궁화', '장미', '개나리', '벗꽃']
['무궁화', '개나리', '벗꽃']

In [251]:
#리스트 성적 합계 및 평균

scores = []
while True:
    x = int(input('성적을 입력하세요(종료 시 -1 입력):'))
    if x == -1:
        break
    else:
        scores.append(x)
    
sum = 0
for score in scores:
    sum = sum + score
    
avg = sum/ len(scores)

print('합계 : {} , 평균 : {}'.format(sum,avg))

성적을 입력하세요(종료 시 -1 입력):10
성적을 입력하세요(종료 시 -1 입력):10
성적을 입력하세요(종료 시 -1 입력):20
성적을 입력하세요(종료 시 -1 입력):-1
합계 : 40 , 평균 : 13.333333333333334

In [238]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits]
newlist = [x for x in fruits if 'a' in x]

for x in fruits
    if 'a' in x

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [288]:
numbers = [ [1,2,3,10],[4,5,6,10],[7,8,9,10]]
print(numbers)
print(type(numbers))

i_len = len(numbers)
j_len = len(numbers[i])
print('i_length : ' + str(i_len))
print('j_length : ' + str(j_len))

for i in range(len(numbers)):
    for j in range(len(numbers[i])):
        print('numbers[{}][{}] = {}'.format(i, j, numbers[i][j]))

[[1, 2, 3, 10], [4, 5, 6, 10], [7, 8, 9, 10]]
<class 'list'>
i_length : 3
j_length : 4
numbers[0][0] = 1
numbers[0][1] = 2
numbers[0][2] = 3
numbers[0][3] = 10
numbers[1][0] = 4
numbers[1][1] = 5
numbers[1][2] = 6
numbers[1][3] = 10
numbers[2][0] = 7
numbers[2][1] = 8
numbers[2][2] = 9
numbers[2][3] = 10

In [287]:
scores=[
    [75,83,90], #student1  합:  평균:
    [86,86,73], #student2
    [76,95,83], #student3
    [89,96,69], #student4
    [89,76,93]  #student5
]
print(scores)

for row in range(len(scores)):
    sum=0
    for col in range(len(scores[row])):
        sum += scores[row][col]
    avg = sum / len(scores[row])
    print('{}번째 학생의 합계 : {}, 평균: {:.2f}'.format(row+1,sum,avg))

[[75, 83, 90], [86, 86, 73], [76, 95, 83], [89, 96, 69], [89, 76, 93]]
1번째 학생의 합계 : 248, 평균: 82.67
2번째 학생의 합계 : 245, 평균: 81.67
3번째 학생의 합계 : 254, 평균: 84.67
4번째 학생의 합계 : 254, 평균: 84.67
5번째 학생의 합계 : 258, 평균: 86.00

In [293]:
def hello(name):
    print('{} : This is hello function'.format(name))

In [297]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
for x in fruits:
    hello(x)

apple : This is hello function
banana : This is hello function
cherry : This is hello function
kiwi : This is hello function
mango : This is hello function

In [299]:
def sum(a,b):
    return a+b

In [300]:
sum(10,10)

20

In [303]:
def calc(a,b):
    sum = a+b
    avg = sum/2
    return sum, avg

In [305]:
ret = calc(10,10)
print(ret)
print(type(ret))

(20, 10.0)
<class 'tuple'>

In [4]:
def sum(start, end):
    hap = 0
    for i in range(start, end+1):
        hap = hap+i
    return hap
    #print('{} ~ {} 의 정수의 합계 : {}'.format(start,end,hap))

In [6]:
start =1
end = 10
hap = sum(start, end)
print('{} ~ {} 의 정수의 합계 : {}'.format(start,end,hap))
sum(100,200)
sum(200,300)

1 ~ 10 의 정수의 합계 : 55

25250

## File I/O

In [8]:
file = open('sample.txt', 'w')
file.write('안녕하세요. KCCI 수업 중입니다. ')
file.close()
print('sample.txt 파일쓰기 완료')

sample.txt 파일쓰기 완료

In [25]:
scores=['안소영 97 80 93 97 93',
       '정예린 86 100 93 86 90',
       '김세린 91 88  99 79 92',
       '연수정 86 100 93 89 92',
       '박지아 80 100 95 89 90']


for item in scores:
    data=data+item+'\n'
print(data)
file = open('scores.txt','w')
file.write(data)
file.close()

안소영 97 80 93 97 93
정예린 86 100 93 86 90
김세린 91 88  99 79 92
연수정 86 100 93 89 92
박지아 80 100 95 89 90
안소영 97 80 93 97 93
정예린 86 100 93 86 90
김세린 91 88  99 79 92
연수정 86 100 93 89 92
박지아 80 100 95 89 90
안소영 97 80 93 97 93
정예린 86 100 93 86 90
김세린 91 88  99 79 92
연수정 86 100 93 89 92
박지아 80 100 95 89 90
안소영 97 80 93 97 93
정예린 86 100 93 86 90
김세린 91 88  99 79 92
연수정 86 100 93 89 92
박지아 80 100 95 89 90

In [26]:
file = open('scores.txt', 'r')
lines = file.readlines()
print(type(lines))
print(lines)
for line in lines:
    print(line, end='')
file.close()

<class 'list'>
['안소영 97 80 93 97 93\n', '정예린 86 100 93 86 90\n', '김세린 91 88  99 79 92\n', '연수정 86 100 93 89 92\n', '박지아 80 100 95 89 90\n', '안소영 97 80 93 97 93\n', '정예린 86 100 93 86 90\n', '김세린 91 88  99 79 92\n', '연수정 86 100 93 89 92\n', '박지아 80 100 95 89 90\n', '안소영 97 80 93 97 93\n', '정예린 86 100 93 86 90\n', '김세린 91 88  99 79 92\n', '연수정 86 100 93 89 92\n', '박지아 80 100 95 89 90\n', '안소영 97 80 93 97 93\n', '정예린 86 100 93 86 90\n', '김세린 91 88  99 79 92\n', '연수정 86 100 93 89 92\n', '박지아 80 100 95 89 90\n']
안소영 97 80 93 97 93
정예린 86 100 93 86 90
김세린 91 88  99 79 92
연수정 86 100 93 89 92
박지아 80 100 95 89 90
안소영 97 80 93 97 93
정예린 86 100 93 86 90
김세린 91 88  99 79 92
연수정 86 100 93 89 92
박지아 80 100 95 89 90
안소영 97 80 93 97 93
정예린 86 100 93 86 90
김세린 91 88  99 79 92
연수정 86 100 93 89 92
박지아 80 100 95 89 90
안소영 97 80 93 97 93
정예린 86 100 93 86 90
김세린 91 88  99 79 92
연수정 86 100 93 89 92
박지아 80 100 95 89 90